.task {
    box-shadow: -1px -1px 64px -22px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px -1px 64px -22px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -1px 64px -22px rgba(0, 0, 0, 0.75);

    display: flex;
    align-items: center;
    width: 500px;
    min-height: 250px;
    border-radius: 20px;
    margin-bottom: 10px;

    .task-check {
        position: absolute;
        left: 10px;
        top: 10px;

        input {
            width: 40px;
            height: 50px;
            background: none;
        }
    }

    .task-info {
        width: 100%;
        text-align: center;

        .task-info_title-input {
            margin-bottom: 15px;
        }

        .task-info_title {
            margin: 0;
        }

        .task-info_desc {
            margin: 0;
        }

        .icon-isNotDone {
            color: #539CFD;
        }


    }

    .is-done, .task-info .is-done,
    .task-info .is-done .task-info_title,
    .task-info .is-done .task-info_desc,
    .icon-isDone {
        color: #D8D8D8;
    }

    .task-actions {
        position: absolute;
        display: flex;
        align-items: center;
        right: 10px;
        top: 10px;
    }

}