.add-task-btn {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    left: calc(50% - 60px);
    bottom: 20px;
    background: #2f80ED;
    cursor: pointer;
    transition: .5s all;
}

.add-task-btn:hover {
    box-shadow: -3px -3px 26px 26px rgb(144, 133, 209);
}